// *************************************
//
//   Reset
//
// *************************************

// Android OS font: Roboto //
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,300");

$theme-body-text-family: "Roboto", sans-serif;
$theme-body-padding: 0 10px;
$theme-body-bg-color: #EBE9E2;
$theme-text-color: #333;

$theme-horizontal-line: 1px dashed #ccc;

$theme-paragraph-spacing: 1em 0 0 0;